<launch>
    <!-- 
          NOTICE: Installation of rtabmap is required for using this launch file:
                  For installation type:
                        apt-get install ros-kinetic-rtabmap-ros
    -->
    <arg name="camera"              	  default="camera"/>		<!-- Note: Replace with camera name -->
    <arg name="use_rviz"                  default="false"/>
    <arg name="use_rtabmapviz"            default="false"/>

	<!-- <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"> -->
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="camera"                         value="$(arg camera)"/>
            <arg name="align_depth"                    value="true"/>
			<arg name="enable_infra1"                  value="true"/>	
			<arg name="enable_infra2"                  value="true"/>	
			<arg name="unite_imu_method"               value="linear_interpolation"/>
			<!-- <arg name="unite_imu_method"               value="copy"/> -->
			<arg name="enable_gyro"                    value="true"/>
			<arg name="enable_accel"                   value="true"/>
			<arg name="enable_sync"                    value="true"/>			
    </include>

    <include file="$(find rtabmap_robot2_fie)/launch/rtabmap.launch">
            <arg name="rtabmap_args"       	 value="--delete_db_on_start"/>		
			<arg name="rgb_topic"         	 value="/$(arg camera)/infra1/image_rect_raw"/>
			<arg name="depth_topic"        	 value="/$(arg camera)/depth/image_rect_raw"/>
            <arg name="camera_info_topic"    value="/$(arg camera)/infra1/camera_info"/>
			<arg name="wait_imu_to_init"     value="true"/>
			<arg name="imu_topic"        	 value="/rtabmap/imu"/>

            <arg name="rviz"               value="$(arg use_rviz)"/>
            <arg name="rtabmapviz"         value="$(arg use_rtabmapviz)"/>
            
    </include>
	
	<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen">
		<param name="use_mag" value="false"/>
		<param name="publish_tf" value="false"/>
		<param name="world_frame" value="enu"/>
		<remap from="/imu/data_raw" to="/camera/imu"/>
		<remap from="/imu/data" to="/rtabmap/imu"/>
    </node>

    <!--
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    -->

    <include file="$(find robot2_setup_tf)/launch/robot2_setup_tf.launch" />
    <include file="$(find urdf_robot2_fie)/launch/display.launch" />
    
    <node name="base_controller" pkg="base_controller_robot2" type="base_controller_robot2_node" />

    <node name="panda_motor_driver" pkg="motors_panda" type="panda_dir.py" />
    
    <group ns="planner">
      <remap from="map" to="/rtabmap/grid_map"/>
      <remap from="/planner/cmd_vel" to="/cmd_vel" />
      <remap from="/move_base_simple/goal" to="/planner/move_base_simple/goal" />
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
         <rosparam file="$(find rtabmap_robot2_fie)/configs/costmap_common_params.yaml" command="load" ns="global_costmap" />
         <rosparam file="$(find rtabmap_robot2_fie)/configs/costmap_common_params.yaml" command="load" ns="local_costmap" />
         <rosparam file="$(find rtabmap_robot2_fie)/configs/local_costmap_params.yaml" command="load" />
         <rosparam file="$(find rtabmap_robot2_fie)/configs/global_costmap_params.yaml" command="load" />
         <rosparam file="$(find rtabmap_robot2_fie)/configs/base_local_planner_params.yaml" command="load" />
      </node>
   </group>
</launch>
	