<launch>

<!-- Launch del nodo MoveBaseSeq y carga de secuencia de puntos en parametros ROS -->

    <!-- Correr el nodo move_base_seqs -->
        <node pkg="simple_navigation_goals" type="move_base_seq" name="move_base_seq" output="screen">
        
        <!-- Cargar secuencia de puntos en parametros ROS (coordenadas cartesianas en metros) -->
        <!-- En relacion al punto inicial donde esta el robot -->
        <!-- p_seq = [x1,y1,z1, x2,y2,z2, ... xn,yn,zn] -->
            <!-- En relacion al punto inicial -->
            <!-- <rosparam param="p_seq">[0.2,0.5,0,2,0.5,0,1.5,-0.5,0]</rosparam> -->
            <rosparam param="p_seq">[3,0,0,3,3,0,0,3,0,0,0,0]</rosparam>
        <!-- Cargar secuencia de angulos en el eje vertical (yaw angles, solo rotacion en z, en grados) -->
            <rosparam param="yea_seq">[90,180,270,0]</rosparam>

        </node>

</launch>
